body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 18px
  line-height: 1.50;
}

a:hover {
  color: red;
}
/* PAGE HEADER-----------------------------*/

header {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
   font-size: 75px;
  line-height: 1.75;
   margin: 0;
   display: none;
}

p {
  margin: 32px;
  font-size: 16px;
  line-height: 24px;
}

img {
  width: 75%;
  height: auto;
  margin: 40px 0 0 32px;
}

/* Intro section - not visible--------------*/
.about-me { 
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
   font-size: 75px
  line-height: 1.75;
   padding: 2px 10px 2px 10px;
   margin: 0;
   background-color: #eaeeea;
 }


/* title of article-------------*/
.title { 
  text-align: left;
  font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin-top: 96px;
   margin-left: 32px;
   /*border: 1px red solid;*/
}

.title h1, .title h2, .title h3 {
  padding: 0;
  margin: 0;
}

.title h1 {
  font-size: 48px;
   font-weight: bold;
   line-height: 48px;
   margin-bottom: 16px;
}

.title h2 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
}

.title h3 {
  display: inline-block;
  font-size: 16px;
  margin-left: 12px;
  line-height: 5px;
}

.image {
	font-family: 'Noto Sans', sans-serif;                         
  font-size: 25px;
  line-height: 1.75;
   margin: 0;
}

.subtitle{ 
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 32px;
}

.container {
  width: 75%;
  float: left;
}

/* ARTICLE----------------------------*/
.container .lead {
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
   font-size: 18px
  line-height: 3.00;
  }

.container .blockquote {
   max-width:75%;
   text-align: left;
   margin: 0 0 32px 85px;
}

.container .newscopy {
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
   font-size: 12px
  line-height: 1.75;
  }

.container .map {
  margin-left: 12px; 
  margin: 40px 0 0 32px;
  }

.image .caption {
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 2px 10px 2px 10px;
}


.links {
  width: 75%;
  clear: both;
  font-size: 14px
}
